.footerContainer {
    height: 5rem;
    background: linear-gradient(to right, #a78bfa, #7c3aed, #fdba74); 
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .footerText {
    font-size: 1.125rem;
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
  }
  
  @media (min-width: 640px) {
    .footerText {
      font-size: 1.25rem;
    }
  }
  
  @media (min-width: 768px) {
    .footerText {
      font-size: 1.5rem;
      padding-left: 0;
      padding-right: 0;
    }
  }
  